body {
    font-family: 'Oswald', sans-serif;
}
nav {
    background-color: rgb(191, 49, 0);
}
.navbar-brand {
    padding:10px
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}